/* Estilos Gerais para a Tela de Login */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.welcome-text {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.profile-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-label {
    font-size: 16px;
    color: #626060;
    border-bottom: 1px solid #626060;
    padding: 10px;
    text-align: left;
    width: 100%;
}

.input-field {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: #0021FF;
    outline: none;
}

.access-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    background-color: #0021FF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.or-text {
    font-size: 16px;
    margin: 10px 0;
    color: #000000;
}

.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #272626;
    background-color: #BFBCBC;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.google-login:hover {
    background-color: #a0a0a0;
}

.google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.signup-text {
    font-size: 14px;
    color: #000000;
}

.cadastro-link {
    color: #0021FF;
    text-decoration: underline;
    cursor: pointer;
}

.underline {
    border-top: 1px solid #000000;
    width: 50%;
    margin: 0 auto;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
    
    .welcome-text {
        font-size: 20px;
    }

    .access-button, .google-login {
        font-size: 16px;
    }

    .signup-text {
        font-size: 12px;
    }
}